fieldset {
  display: flex;
  align-items: left;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

select {
  margin-bottom: 20px;
}

label {
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px black;
}
