.NoteListMain ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.note-name {
  padding-bottom: 10px;
}

.button-container {
  max-width: 380px;
  margin: 0 10px;
}

.delete-note-button:hover {
  background-color: #29862e;
  color: white;
  cursor: pointer;
}

.add-note-button {
  background-color: #cacaca;
  border-radius: 30px;
  border: 0;
  color: black;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 60px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 60px;
}
.add-note-button:hover {
  background-color: #29862e;
  color: white;
}

.modified-date {
  float: right;
  padding-right: 10px;
  color: white;
}
