.NoteListMain ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  
  .button-container {
    max-width: 380px;
    margin: 0 10px;
  }
  
  .add-note-button {
    margin: 0 auto 20px;
  }
  .add-note-button:hover {
    background-color: #29862e;
    color: white;
  }

  .modified-date {
      float: right;
  }

  .note-name {
    
  }